*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
} 
#container{
    width: 100vw;
    height: 100%;
    background-color: blue;
}
#sectionWrapper{
    width: 100vw;
    height: 400vh;
}
.section{
    width: 100vw;
    height: 100vh;
}
.contentWrap{
    width: 100vw;
    height: 100vh;
    padding: 100px 20px;
}



/* ------------header menu */
#header{
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: #dbdbdb;
    padding: 5px;
    display: flex;
}
#profileLogo{
    border-radius: 50%;
    background-size: cover;
    height: 100%;
}
#profileName{
    line-height: 50px;
    font-size: smaller;
}

/* ------------footer menu */
#footer{
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom : 0;
    left: 0;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    display: flex;
}
#menu{
    list-style-type: none; 
    display: flex;
}
#menu li{
    line-height: 50px;
    margin: 0 20px;
}
#menu li a{
    text-decoration: none;
    color: gray;
}
.menuIcon{
    width: 20px;
    font-size: 30px;
}

/* ------------Homepage */
#home{
    background-color: #ffffff;
}
#mainText{
    font-size: 40px;
    color: black;
}


/* ------------About Me */
#about{
    background-color: white
}
#about .contentWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about ul{
    list-style-type: none;
}
#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#language, #tools{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#skills img{
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}
#credit{
    font-size: 5px;
    text-align: right;
}
.project{
    background-color: orange;
}
#contact{
    background-color: red;
}


@media (min-width:600px){
    #container{
        width: 100vh;
        height: 100vw;
        background-color: blue;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        /* to remove scrollbar in IE */
        scrollbar-width: none;
        /* firefox */
        -ms-overflow-style: none;
    }
    /* chrome and safari */
    ::-webkit-scrollbar{
        display: none;
    }
    #sectionWrapper{
        width: 500vw;
        display: flex;
        flex-direction: row;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    .section{
        width: 100vw;
        height: 100vh;
    }
    
}