*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
} 
#container{
    width: 100vw;
    height: 100%;
    background-color: blue;
}
#sectionWrapper{
    width: 100vw;
    height: 400vh;
}
.section{
    width: 100vw;
    height: 100vh;
}
.contentWrap{
    width: 100vw;
    height: 100vh;
    padding: 80px 20px;
}



/* ------------header menu */
#header{
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    background-color: #dbdbdb;
    padding: 5px;
    display: flex;
}
#profileLogo{
    border-radius: 50%;
    background-size: cover;
    height: 100%;
}
#profileName{
    line-height: 50px;
    font-size: smaller;
}

/* ------------footer menu */
#footer{
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom : 0;
    left: 0;
    border-top: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    display: flex;
}
#menu{
    list-style-type: none; 
    display: flex;
}
#menu li{
    line-height: 50px;
    margin: 0 20px;
}
#menu li a{
    text-decoration: none;
    color: gray;
}
.menuIcon{
    width: 20px;
    font-size: 30px;
}

/* ------------Homepage */
#home{
    background-color: #ffffff;
}
#mainText{
    font-size: 40px;
    color: black;
}


/* ------------About Me */
#about{
    background-color: white
}
#about .contentWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about ul{
    list-style-type: none;
}
#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#language, #tools{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#skills img{
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}
#credit{
    font-size: 5px;
    text-align: right;
}

/* ------------Projects */
#project{
    background-color: white;
}
#project .contentWrap{
    height: 80px;
}
#project p{
    font-size: 10px;
}
#projectBox{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.projectCard{
    /* background-color: white;
    border: 1px solid black; */
    width: 100%;
    height: 100%;
    perspective: 1000px;
}
.cardInner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
}
.cardFront, .cardBack{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}
.cardFront{
    overflow: hidden;
    justify-content: center;
    background-color: white;
}
.cardFront::after{
    width: 20px;
    height: 20px;
    content: "i";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.cardBack{
    transform: rotateY(180deg);
    color: white;
    background-color: #16425b;
    flex-direction: column;
    justify-content: space-around;  
}
.projectCard img{
    max-width: 30%;
    max-height: 30%;
    object-fit: cover;
}


/* ------------Contact Me */
#contact{
    background-color: white;
}
#contact .contentWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contact ul{
    list-style-type: none;
}
.contactIcon{
    width: 50px;
}
#contactInfo ul{
    display: flex;
    flex-direction: column;
}
#contactInfo li{
    margin: 5px 0;
}
#socMed{
    display: flex;
    align-items: center;
    justify-content: center;
}
#socMed ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.socmedIcon{
    width: 40px;
    font-size: 20px;
    margin: 10px;
}


@media (min-width:600px){
    #container{
        width: 100vh;
        height: 100vw;
        background-color: blue;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        /* to remove scrollbar in IE */
        scrollbar-width: none;
        /* firefox */
        -ms-overflow-style: none;
    }
    /* chrome and safari */
    ::-webkit-scrollbar{
        display: none;
    }
    #sectionWrapper{
        width: 500vw;
        display: flex;
        flex-direction: row;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    .section{
        width: 100vw;
        height: 100vh;
    }

    #projectBox{
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        grid-template-rows:50% 50%;
    }
    /* project hover effect */
    .projectCard:hover .cardInner{
        transform: rotateY(180deg);
    }
    
}